<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="rcp-hello-world-ui">
         <property
               name="lifeCycleURI"
               value="bundleclass://rcp-hello-world-ui/rcphelloworldui.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/rcp-hello-world-ui/css/default.css">
         </property>
         <property
               name="appName"
               value="rcp-hello-world-ui">
         </property>
      </product>
   </extension>

</plugin>
